{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset your password</h3>
          <p>Verifica en tu Email un link para restablecer tu contraseña. Si no te llega en unos minutos revisa tu bandeja de correos no deseados.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Regresar a Iniciar Sesion</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}