{% extends 'base/base.html' %}
{% load static from staticfiles %}
{% block head %}
<link rel="stylesheet" href="{%static 'css/styles.css'%}">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    
<script type="text/javascript" src="{% static 'js/ajax.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Buscar por:</span>
      </div>
      {% csrf_token %}
      <input type="text" class="form-control" name="search" id="search"  placeholder="Folio" aria-label="Username" aria-describedby="basic-addon1">
    </div> 
  </form>
</nav>
<!--<h3>Buscar </h3>
{% csrf_token %}
<input type="text" name="search1" id="search1">
<table id="search-results">
	
</table>
-->


    <table id="search-results" class="table  table-bordered">
      <thead>
        <tr>
          <th scope="col">Folio</th>
          <th scope="col">Remitente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Importancia</th>
          <th scope="col">Fecha de Expiracion</th>
          <th scope="col " colspan="3">Opciones</th>


        </tr>
      </thead>

{% endblock %}