{% extends 'base/base.html' %}
{%block usuario%}<link class="right">{{form.user}}</link>{%endblock%}
{% block nav %}
    <nav>
    <div class="nav-wrapper  red darken-4 col s12">
    <a href="#" class="brand-logo">Nuevo Documento </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Inicio</a></li>
    </ul>
    </div>
    </nav>
{% endblock %}
{% block content %}
<form method="post">
     <div class="container">

	{% csrf_token%}
    {{ form1.as_p }}
    </div>
<button type="submit">Guardar</button>
</form>
{% endblock %}