{% extends 'base/base.html' %}
{% block content %}
<br>
<form method="post" >
     <div class="container">
<div class="row" >
        <div class="form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-2">
            <label for='{{form.folio}}' >{{form.folio.label}} </label>
           {{form.folio}}
          </div>


        <div class="form-group col-md-12 col-sm-12 col-xs-6 col-md-offset-2">
            <label for='{{form.user}}' > {{form.user.label}} </label> <br>
            {{form.user}}
          </div>

        <div class="col-md-12 col-sm-12 col-xs-6 col-md-offset-2">
          <div class="form-group">
            <label for='{{form.annexes}}'>{{form.annexes.label}}</label>
            {{form.annexes}}
          </div>
        </div>
        <div class="col-md-12 col-md-offset-2">
          <div class="form-group">
             <button type=" button submit" class="btn btn-success">Enviar</button>
          </div>
        </div>
     
</div>

   
    </div>

</form>
{% endblock %}