{% extends 'base/base.html' %}


 
{% block content %}
  <body>
    <table class="table  table-bordered">
      <thead>
        <tr>
          <th scope="col">Folio</th>
          <th scope="col">Remitente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Importancia</th>
          <th scope="col">Fecha de Expiracion</th>
          <th scope="col ">Opciones</th>

        </tr>
      </thead>
      <tbody>
        
          <tr>
          	{% for document in form%}
            <th scope="row">

              {{ document.folio }}
              <!--<br>
              <small style="color: #888">{{ document.description }}</small> -->
            </th>
            <td>{{ document.sender }}</td>
            <td>{{ document.date }}</td>
            <td>{{ document.importancia}}</td>
            <td>{{ document.dateexp}}</td>
            <td><a class="btn enabled  red lighten-2 " href="{% url 'captura_edit' document.folio %}" >Editar</a></td>
            <td><a class="btn enabled  red lighten-2" href="{% url 'document_delete' document.folio %}">Eliminar</a></td>
            <td><a class="btn enabled  red lighten-2" href="{% url 'enviar' document.folio%}">Anexar-Y-Enviar</a></td>
            
          </tr>
        {% endfor %}
   
      </tbody>
    </table>
           {% endblock %}
